<a href="https://colab.research.google.com/github/safirarohanaa/KKA-X--Semester-1--safirarohana/blob/main/Fungsi_print_Shinta_RH_X_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Nama: Shinta Roudlotul Hanafia

Kelas: X.2

Nomor absen: 29

Mata pelajaran: KKA

#Menampilkan Teks Bebas (String)

In [ ]:
print("Halo world!")

Halo world!

#Menampilkan Nilai Variabel

In [ ]:
berat_badan = 50

print(berat_badan)

50

In [ ]:
print("berat_badan")

berat_badan

In [ ]:
Nama = "Shinta Roudlotul Hanafia"

print(Nama)

Shinta Roudlotul Hanafia

In [ ]:
print("Nama")

Nama

#Menampilkan Teks Bebas dan Nilai Variabel

In [ ]:
print("Berat badan saya adalah", berat_badan, "Kg.")

Berat badan saya adalah 50 Kg.

In [ ]:
print("Perkenalkan nama saya,", Nama,".")

Perkenalkan nama saya, Shinta Roudlotul Hanafia .

In [ ]:
print("Perkenalkan nama saya, " + Nama + ".")

Perkenalkan nama saya, Shinta Roudlotul Hanafia.

In [ ]:
print("Berat badan saya adalah " + str(berat_badan) + " Kg.")

Berat badan saya adalah 50 Kg.

In [ ]:
tinggi_badan = 170

print("Tinggi badan saya adalah " + str(tinggi_badan) + " cm.")

Tinggi badan saya adalah 170 cm.

In [ ]:
print(f"Perkenalkan nama saya {Nama}. Berat badan saya adalah {berat_badan} kg.")

Perkenalkan nama saya Shinta Roudlotul Hanafia. Berat badan saya adalah 50 kg.

In [ ]:
buah = "apel"
jumlah_buah = 2

print("Saya memiliki buah",buah,"sebanyak",jumlah_buah,"buah.")

Saya memiliki buah apel sebanyak 2 buah.

In [ ]:
buah = "apel"
jumlah_buah = 2

print("Saya memiliki buah "+buah+" sebanyak "+str(jumlah_buah)+" buah.")

Saya memiliki buah apel sebanyak 2 buah.

#Escape Character

In [ ]:
print("Nama: Shinta Hanafia")
print("Kelas: X.2")
print("No. Absen: 29")

Nama: Shinta Hanafia
Kelas: X.2
No. Absen: 29

In [ ]:
print("""Nama: Shinta Hanafia
Kelas: X.2
No. Absen: 29""")

Nama: Shinta Hanafia
Kelas: X.2
No. Absen: 29

In [ ]:
print("Nama\t\t: Shinta Hanafia\nKelas\t\t: X.2\nNo. Absen\t: 29")

Nama		: Shinta Hanafia
Kelas		: X.2
No. Absen	: 29

In [ ]:
print('Nama\t\t: Ja\'far shodiq\nKelas\t\t: X.2\nNo. Absen\t: 29')

Nama		: Ja'far shodiq
Kelas		: X.2
No. Absen	: 29

In [ ]:
print("Nama\t\t: Ja'far shodiq\nKelas\t\t: X.2\nNo. Absen\t: 29")

Nama		: Ja'far shodiq
Kelas		: X.2
No. Absen	: 29

In [ ]:
print('Bu Shinta mengatakan "Semua bisa dipelajari"')

Bu Shinta mengatakan "Semua bisa dipelajari"

In [ ]:
print("Lokasi file tugas KKA: Local disk D:\\KKA\\Tugas")

Lokasi file tugas KKA: Local disk D:\KKA\Tugas

In [ ]:
"""
Latihan soal:

Gunakan escape character!
Tampilkan teks seperti di bawah ini:

Bu Shinta berkata, "Berikut adalah daftar piket harian kelas X.2 yang disimpan di file D:\MAN Demak\Jadwal Piket.".

Senin      Selasa      Rabu
Jielo      Hasbi       Naufal
Azam       A'inun        Nurul
"""

#Paramater Fungsi print

In [ ]:
nama_siswa_1 = "Jielo"
nama_siswa_2 = "Aida"
nama_siswa_3 = "Dani"

print(nama_siswa_1, end="-")
print(nama_siswa_2, end="-")
print(nama_siswa_3)

Jielo-Aida-Dani

In [ ]:
"""
Latihan:

nama_siswa_1 = "Jielo"

nama_siswa_2 = "Aida"

nama_siswa_3 = "Dani"

nama_siswa_4 = "Nurul"

Tampilkan keluaran berupa:

Nurul/Aida/Jielo/Dani
"""

In [ ]:
nama_siswa_5 = "Hasbi"
nama_siswa_6 = "Habibi"
nama_siswa_7 = "Rendra"
nama_siswa_8 = "Naufal"

print(nama_siswa_8, nama_siswa_7, nama_siswa_5, nama_siswa_6, sep="-")

Naufal-Rendra-Hasbi-Habibi

In [ ]:
"""
Latihan:

nama_siswa_5 = "Hasbi"

nama_siswa_6 = "Habibi"

nama_siswa_7 = "Rendra"

nama_siswa_8 = "Naufal"

Tampilkan keluaran berupa:

Hasbi*Naufal*Rendra*Habibi*Naufal
"""